*.class

*.mappers.log

*.ctxt

#package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


target/
.git


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### MAC ###
.DS_Store